
.container {
  width: 400px;
  height: 600px;
  margin: 10% auto;
  position: relative;
  overflow: hidden;
}
.traffic_light{
  width: 390px;
  height: 120px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 40%;
  left: 0;
  background: #868686;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 2px 0px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 11px -1px rgba(0,0,0,0.75);
}
.red,.yellow,.green{
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 50%;
  border-left:5px solid #e5e5e5;


  z-index: 1;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.75);
}
.red{
  background: red;
  /*opacity: 0.2;*/
  /*-webkit-box-shadow: inset 10px 10px 20px 20px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow: inset 10px 10px 20px 20px rgba(0,0,0,0.75);*/
  box-shadow: inset 2px 2px 50px 20px rgba(0,0,0,0.75);
}
.red.active{
  /*opacity: 1;*/
  box-shadow: inset 2px 2px 15px 20px rgba(0,0,0,0.75);
}
.yellow{
  background: yellow;
  /*opacity: 0.2;*/
  box-shadow: inset 2px 2px 50px 20px rgba(0,0,0,0.75);
}
.yellow.active{
  /*opacity: 1;*/
  box-shadow: inset 2px 2px 20px 20px rgba(0,0,0,0.75);
}
.green{
  background: #00b500;
  box-shadow: inset 2px 2px 50px 20px rgba(0,0,0,0.75);
}
.green.active{
  box-shadow: inset 2px 2px 20px 15px rgba(0,0,0,0.98);
}
.actions{
  position: absolute;
  bottom: 10px;
  left: 27%;
  width: 100%;
}
.start-btn,.stop-btn{
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border:0;
  -webkit-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.50);

}
.start-btn{
  background: green;
  color: white;
}
.stop-btn{
  background: red;
  color: white;
}
