<div class="container">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
      <a class="dropdown-item" href="#" *ngFor="let option of selectOptions" (click)="onChange($event)">{{option}}</a>

    </div>
  </div>

  <div class="traffic_light">
    <div class="red" [ngClass]="{'active': activeRed}"></div>
    <div class="yellow" [ngClass]="{'active':activeYellow}"></div>
    <div class="green" [ngClass]="{'active':activeGreen}"></div>
  </div>
  <div class="actions">
    <button class="start-btn" (click)="startTraffic()">Start</button>
    <button class="stop-btn" (click)="stopTrafficLight()">Stop</button>
  </div>
</div>

